/* Vos customisations des classes de Bootstrap */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexcollumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  width: 80%;
}

.header {
  background-color: #222222;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-around;
}

.cleanlink {
  text-decoration: none;
}

.logoheader {
  width: 180px;
  height: auto;
}

.navheader {
  width: 300px;
  justify-content: space-between;
}

.linkheader {
  color: #909698;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
  font-family: "Arvo", serif;
}

.robotowhite {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-weight: 100;
  font-style: normal;
  color: white;
  text-align: center;
}
.roboto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-weight: 200;
  font-style: normal;
  text-align: center;
}
.robotored {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-weight: 300;
  font-style: normal;
  color: #d9534f;
  text-align: center;
}

.banniere {
  background-image: url(../images/hero-image.jpg);
  padding: 70px 0px 70px 0px;
}

.imgbanniere {
  width: 50px;
}

.arvoregular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvoregularwhite {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.boutonbanniere {
  background-color: #d9534f;
  color: white;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-family: "Arvo", serif;
}

#who {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  gap: 20px;
}

#who h2 {
  color: #d9534f;
  font-family: "Arvo", serif;
  font-style: normal;
  text-align: center;
  font-size: 28px;
}

#who hr {
  border: none;
  border-top: 1px solid #d9534f;
  color: #d9534f;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 200px;
}

#get-involved {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  gap: 20px;
}

#get-involved h2 {
  color: #d9534f;
  font-family: "Arvo", serif;
  font-style: normal;
  text-align: center;
  font-size: 28px;
}

#get-involved hr {
  border: none;
  border-top: 1px solid #d9534f;
  color: #d9534f;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 200px;
}

.iconcard {
  border-radius: 50px;
  background-color: #333333;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.cardbouton {
  background-color: white;
  color: #d9534f;
  border-radius: 2px;
  font-size: 15px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-family: "Sawarabi Gothic", sans-serif;
  border: 1px solid black;
}

#footer {
  background-color: #d9534f;
  padding: 100px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carddiv {
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

#back-to-top {
  border-radius: 50px;
  background-color: #333333;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 95vh;
  left: 95vw;
}
/* Responsive Styling */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
